<!-- app.component.html -->
<div class="dashboard-container">
  <p-sidebar
    [(visible)]="sidebarVisible"
    [modal]="false"
    [showCloseIcon]="false"
    styleClass="sidebar"
  >
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo" class="logo" />
    </div>

    <div class="menu-container">
      <p-menu [model]="menuItems" styleClass="sidebar-menu"></p-menu>
    </div>

    <div class="user-profile">
      <p-avatar
        image="assets/user.jpg"
        styleClass="mr-2"
        shape="circle"
      ></p-avatar>
      <span class="username">Hello {{ userName }}</span>
    </div>
  </p-sidebar>

  <div class="main-content" [ngClass]="{ 'sidebar-active': sidebarVisible }">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button pButton icon="pi pi-bars" (click)="showmenu()"></button>
      </ng-template>
      <ng-template pTemplate="right">
        <p-button
          icon="pi pi-bell"
          styleClass="p-button-rounded p-button-text mr-2"
        ></p-button>
        <p-button
          (onClick)="logout()"
          icon="pi pi-user"
          styleClass="p-button-rounded p-button-text"
        ></p-button>
      </ng-template>
    </p-toolbar>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
